<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <main class="container">
        <div class="content" style="color:rgb(20, 21, 16) ">
            <h1> Hello <%= name %>! </h1>
            <h2>Welcome To The Tarun Meena Page</h2>
    
        </div>        
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>